:root {
    // Css Color Variable
    --color__white: #ffffff;
    --color__black: #000000;
    --color__lightBlack: #3B3B3B;
    --color__cyan: #7ACBE8;
    --color__green: #00A79E;
    --color__leafGreen: #6EA72B;
    --color__darkGreen: #59971E;
    --color__yellow: #E3AE0B;
    --color__teal: #169184;
    --color__regalBlue: #0C4F6A;

}
