.brands-partners {
    overflow: hidden;
    .content-inner {
        background-color: var(--color__teal);
        padding: 5rem 2rem;
        border-radius: 1rem;

        @include sm-up {
            padding: 5rem 5rem;
        }
        @include md-up {
            // padding: 5rem 10rem;
            padding: 5rem 8rem;
        }
    }
    h3 {
        margin-bottom: 1rem;
    }

    ul.sponsors {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 3rem 3rem;

        @include xl-up {
            gap: 3rem 5rem;
        }
        ul {
            flex-wrap: wrap;
            gap: 2rem;
            li {
                background-color: var(--color__white);
                width: 13rem;
                height: 8rem;
                border-radius: .5rem;
                overflow: hidden;
                @include flex-center;
                padding: 1rem;
                @include xl-up {
                    width: 16rem;
                    height: 10rem;
                }
                @include xxl-up {
                    width: 18rem;
                    height: 10rem;
                    padding: 2rem;
                }
            }
        }
        li {

            img {
                max-height: 6rem;
            }
        }
    }
}